* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding-top: 150px; 
}

h1 {
    color: #690101;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background-color: #690101;
    z-index: 1000; 
}

header nav {
    display: flex;
    justify-content: center;
    position: relative;
}

header nav img {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 50px;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #e66311;
}

main {
    height: 1000px;
    flex: 1;
    background-color: #000000;
}

footer {
    height: 200px;
    width: 100%;
    background-color: #690101;
}

footer ul {
    list-style: none;
}

footer ul a {
    padding: 30px;
    color: #fff;
    text-decoration: none;
}

.columnone {
    float: left;
    padding-top: 30px;
    padding-right: 30px;
}

.icons-footer {
    text-align: center;
    padding-top: 30px;
}

.columntwo {
    float: right;
    padding-top: 30px;
    padding-left: 30px;
}
