*{
    margin: 0%;
    padding: 0%;
    color: #fff
}

header{
    height: 150px;
    width: 100%;
    background-color: #690101;
}

header nav{
    display: flex;
    justify-content: center;
    position: relative;
}

header nav img{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a{
    font-size: 20px;
    padding-top: 40px;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 50px;
    color: #fff;
    text-decoration: none;
    
}

a:hover{
    color: #e66311;
}
.cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.cont2{
    background-color: #690101;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position:static;
}
.entradas {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
footer{
    height: 200px;
    width: 100%;
    background-color: #690101;
}

footer ul a{
    padding: 30px;
    color: #fff;
    text-decoration: none;
    
}

footer ul{
list-style: none;
}
.columnone{
    float: left;
    padding-top: 30px;
    padding-right: 30px;
    
    
}

.icons-footer{
    text-align: center;
    padding-top: 140px;

}

.columntwo{
    float: right;
    padding-top: 30px;
    padding-left: 30px;
}

body {
    height: 1000px;
    background-color: #000000;
}